# If you want Electrum-Zcash to appear in a Linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum-zcash.desktop

[Desktop Entry]
Comment=Electrum-Zcash Wallet
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\"; electrum-zcash %u"
GenericName[en_US]=Electrum-Zcash
GenericName=Electrum-Zcash
Icon=electrum-zcash
Name[en_US]=Electrum-Zcash
Name=Electrum-Zcash
Categories=Network;
StartupNotify=true
StartupWMClass=electrum-zcash
Terminal=false
Type=Application
MimeType=x-scheme-handler/zcash;
Actions=Testnet;

[Desktop Action Testnet]
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\"; electrum-zcash --testnet %u"
Name=Testnet mode
